---
import SectionCard from './SectionCard.tsx';
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
  CardDescription,
} from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { sectionListData } from "@/data/sectionsListData";

---

<Card className={cn("w-full")}>
  <CardHeader className="flex flex-row items-center justify-between pb-2">
    <div class="space-y-1">
      <CardTitle className="text-3xl">Secciones</CardTitle>
      <CardDescription className="text-sm">Gestiona las secciones a tu cargo</CardDescription>
    </div>
  </CardHeader>
  <CardContent>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {sectionListData.map(section => (
        <SectionCard
          sectionNumber={section.idSection}
          career={section.career}
          semester={section.semester}
          totalStudents={section.totalStudents}
          turn={section.turn}
          client:load
        />
      ))}
    </div>
  </CardContent>
</Card>